.img-preview {
    width: 256px;
    height: 256px;
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
}

.img-preview>div {
    width: 100%;
    height: 100%;
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="file"] {
    display: none;
}

.upload-label{
    display: inline-block;
    padding: 6px 15px;
    color: #040f0c;
    border: 1px solid #040f0c;
}

.loader {
    border: 4px solid #FFF;
    border-top: 4px solid #040f0c;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
